<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin" />
    <title>{{ book.title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/screen.css') }}"
    />
    <script src="{{ url_for('static', filename='js/chat.js') }}" defer></script>
  </head>
  <body>
    <div class="container detail">
      <div class="cover">
        <a href="/" class="navigate-link">
          <img
            src="data:image/jpeg;base64,{{ book.cover_image }}"
            alt="{{ book.title }}"
            class="cover cover-transition-small"
            view-transition-name="book-image"
          />
        </a>
      </div>

      <div class="chat">
        <div id="chat-history"></div>
        <input
          type="text"
          id="user-input"
          placeholder="Type your message here"
          autofocus
        />
        <input type="hidden" id="book-id" value="{{ book.id }}" />
        <button id="send-button" type="submit">Send</button>
      </div>
    </div>
  </body>
</html>
