<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin" />

    <title>Title</title>
    <link rel="stylesheet" href="css/screen.css" />
  </head>
  <body>
    <div class="container detail">
      <div class="cover">
        <a href="master.html" class="navigate-link">
          <img
            src="assets/1.jpg"
            alt="title"
            class="cover cover-transition-small"
            view-transition-name="book-image"
          />
        </a>
      </div>

      <div class="chat">
        <div class="chat-bubble">
          What is this story about and what is the main character?
        </div>

        <div class="chat-bubble">
          What is this story about and what is the main character?
        </div>

        <div class="chat-bubble">
          What is this story about and what is the main character?
        </div>
        <div class="chat-bubble">I'm doing well, thank you for asking.</div>

        <input type="text" placeholder="Type your message here" autofocus />
      </div>
    </div>
  </body>
</html>
